---
title: "Try Markdown (Kramdown snapshot)"
---
<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Try Markdown</title>
<style type="text/css">
div.box-wip {
  border-color: orange;
  padding: 2em;
  background-color: #ffc880;
}

.divbox { /* for div.divbox, but lower priority */
  border-width: 3px;
  border-style: solid;
  margin: 0.5ex;
  padding: 0.5ex;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}
</style>
</head><body>
<div class="divbox" style="margin: 1em 4em; border-color: grey">
  Fetched from the github-pages at {% include blogsrc.html ci='5528b10fbdc05b31740e4f7c451f81f4712339a0' %}
  {% include ul--categories.html %}
</div>
<h1 id="try-markdown">Try Markdown</h1>

<p>A non-comprehensive selection of<br />
Markdown constructs, hardwrapped to 40<br />
to make that obvious, such as bald<br />
http://hyperlinks.example.org to see how<br />
they render with the current<br />
<code>_config.yml</code>.</p>

<h2 title="attr test heading" style="background: yellow" id="switch-on-all-the-options-to-see-what-happens">Switch on all the options to see what happens</h2>

<ul id="markdown-toc">
  <li><a href="#try-markdown">Try Markdown</a>    <ul>
      <li><a href="#switch-on-all-the-options-to-see-what-happens">Switch on all the options to see what happens</a></li>
      <li><a href="#repositories-on-github">Repositories on Github</a></li>
      <li><a href="#code">Code blocks</a></li>
    </ul>
  </li>
</ul>

<h2 id="repositories-on-github">Repositories on Github</h2>

<ul>
  <li><a href="https://github.com/mcast/App-Cmd">App-Cmd</a></li>
  <li><a href="https://github.com/mcast/App-MediaWiki2Git">App-MediaWiki2Git</a></li>
  <li><a href="https://github.com/mcast/authen-daemon">authen-daemon</a></li>
  <li><a href="https://github.com/mcast/bj">bj</a></li>
  <li><a href="https://github.com/mcast/bus-track">bus-track</a></li>
  <li><a href="https://github.com/mcast/cctools">cctools</a></li>
  <li><a href="https://github.com/mcast/cron2rss">cron2rss</a></li>
  <li><a href="https://github.com/mcast/fanout">fanout</a></li>
  <li><a href="https://github.com/mcast/GeneNomenclatureUtils">GeneNomenclatureUtils</a></li>
  <li><a href="https://github.com/mcast/Git-DescribeVersion">Git-DescribeVersion</a></li>
  <li><a href="https://github.com/mcast/git-yacontrib">git-yacontrib</a></li>
  <li><a href="https://github.com/mcast/GithubConglomerate">GithubConglomerate</a></li>
  <li><a href="https://github.com/mcast/HTtapTP">HTtapTP</a></li>
  <li><a href="https://github.com/mcast/irc-list2rss">irc-list2rss</a></li>
  <li><a href="https://github.com/mcast/irods-legacy">irods-legacy</a></li>
  <li><a href="https://github.com/mcast/json-fileops">json-fileops</a></li>
  <li><a href="https://github.com/mcast/lib-vswitch">lib-vswitch</a></li>
  <li><a href="https://github.com/mcast/markdown-chapterise">markdown-chapterise</a></li>
  <li><a href="https://github.com/mcast/mcast.github.io">mcast.github.io</a></li>
  <li><a href="https://github.com/mcast/moose">moose</a></li>
  <li><a href="https://github.com/mcast/p5-InfluxDB">p5-InfluxDB</a></li>
  <li><a href="https://github.com/mcast/perl-DBI-Throttled">perl-DBI-Throttled</a></li>
  <li><a href="https://github.com/mcast/perl-junkbox">perl-junkbox</a></li>
  <li><a href="https://github.com/mcast/perl-tk">perl-tk</a></li>
  <li><a href="https://github.com/mcast/perlunit">perlunit</a></li>
  <li><a href="https://github.com/mcast/perlunit-extras">perlunit-extras</a></li>
  <li><a href="https://github.com/mcast/plack-middlewares-jbrowse">plack-middlewares-jbrowse</a></li>
  <li><a href="https://github.com/mcast/psst">psst</a></li>
  <li><a href="https://github.com/mcast/python_notes">python_notes</a></li>
  <li><a href="https://github.com/mcast/rust">rust</a></li>
  <li><a href="https://github.com/mcast/scriptaculous">scriptaculous</a></li>
  <li><a href="https://github.com/mcast/scripts">scripts</a></li>
  <li><a href="https://github.com/mcast/sd">sd</a></li>
  <li><a href="https://github.com/mcast/sh-tap">sh-tap</a></li>
  <li><a href="https://github.com/mcast/sparkleshare-git-hook">sparkleshare-git-hook</a></li>
  <li><a href="https://github.com/mcast/tap-parser">tap-parser</a></li>
  <li><a href="https://github.com/mcast/techtalk-pse">techtalk-pse</a></li>
  <li><a href="https://github.com/mcast/test">test</a></li>
  <li><a href="https://github.com/mcast/text-matrix-transpose">text-matrix-transpose</a></li>
  <li><a href="https://github.com/mcast/yaml-pm">yaml-pm</a></li>
</ul>

<h2 id="code">Code blocks</h2>

<pre><code>simpe pre-format
text block
with no language
</code></pre>

<pre><code class="language-perl">#!/usr/bin/perl
use strict;
use warnings;
sub main {
  print "Hello world\n";
  return 0;
}

exit main();
</code></pre>

<blockquote>
  <p>Once upon a time, in a little window on an LCD screen<br />
lived some code.  Well it wasn’t really living there, it<br />
doesn’t get to live until it burrows down to the <abbr title="Chocolate Party Unit">CPU</abbr> to<br />
stretch its legs<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup> and travel on the bus.</p>
</blockquote>

<pre><code class="language-ruby">def tidle_fenced_post
  "Pardon?"
end
</code></pre>

<ol>
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
  <li>(One)</li>
</ol>

<dl>
  <dt>thing</dt>
  <dd>what the thing is</dd>
  <dt>nothing</dt>
  <dd>what the thing isn’t</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Head</th>
      <th>Foot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nose</td>
      <td>Toes</td>
    </tr>
    <tr>
      <td>Tooth</td>
      <td>Nail</td>
    </tr>
  </tbody>
</table>

<hr />

<p>To <strong>boldly</strong> split infinitives and ~~strikethrough~~ other text.</p>

<p>but it can also get longer when the compression comes unravelled.</p>

<p>Are “quotes” normal?  Hope so.  Can we <em>underline</em> words without _underlining_private_variables ?  Should be OK when <code>_they_are_code</code> like this.  Superscripts are 2^(nd) nature, he contrived.  Highlights are ==new== to me.  By the way, no newlines in this paragraph but just here <br /> it does contain a <code>&lt;br&gt;</code> tag.</p>

<pre><code>fn indented() {
  # don't need these
  # with fenced code blocks
}
</code></pre>

<div class="footnotes">
  <ol>
    <li id="fn:1">
      <p>usually code gets longer by growing in the editor window, <a href="#fnref:1" class="reversefootnote">&#8617;</a></p>
    </li>
  </ol>
</div>

</body></html>
