---
layout: base
title: List all pages
---

<main class="grid-container">
  <h1>{{ page.title }}</h1>
  <p> List of all generated pages on the site.  (Excluding content which doesn't have the YAML frontmatter marks.) </p>

  <div class="grid-50">
  {% for cat in site.categories %}
    {% assign catname = cat | first %}
    <div id="cat--{{ catname | slugify }}" class="match-target-show">
      <h2>Posts under category {{catname}}</h2>
      <a href="#"> Show all </a>
      {% assign catposts = site.categories[catname] %}
      {% include ul--posts.html posts=catposts %}
    </div>
  {% endfor %}

  {% for tag in site.tags %}
    {% assign tagname = tag | first %}
    <div id="t--{{ tagname | slugify }}" class="match-target-show">
      <h2>Posts with tag {{tagname}}</h2>
      <a href="#"> Show all </a>
      {% assign tagposts = site.tags[tagname] %}
      {% include ul--posts.html posts=tagposts %}
    </div>
  {% endfor %}
    <div class="match-target-show-default">
      <h2>All Posts</h2>
      {% include ul--posts.html posts=site.posts %}
    </div>

    <h3> Categories </h3>
  {% assign catlist = '' | split: '.' %}
  {% for cat in site.categories %}
    {% assign catname = cat | first %}
    {% assign catlist = catlist | push: catname %}
  {% endfor %}
  {% assign catlist = catlist | sort %}
  {% include ul--categories.html catlist=catlist all=site.categories %}

    <h3> Tags </h3>
  {% assign taglist = '' | split: '.' %}
  {% for tag in site.tags %}
    {% assign tagname = tag | first %}
    {% assign taglist = taglist | push: tagname %}
  {% endfor %}
  {% assign taglist = taglist | sort %}
  {% include ul--tags.html taglist=taglist %}
  </div>

  <div class="grid-50"><h2>All Pages</h2>
  {% include ul--pages.html %}

  <h3> Other stuff </h3>
  <ul>
    <li> <a href="{{ site.baseurl }}/humans.txt"> /humans.txt </a> </li>
    <li> <a href="{{ site.baseurl }}/robots.txt"> /robots.txt </a> </li>
    <li> <a href="{{ site.baseurl }}/sitemap.xml"> /sitemap.xml </a> </li>
    <li> <a href="{{ site.baseurl }}/CNAME"> /CNAME </a> </li>
  </ul>
  </div>
</main>
