div.box-wip {
  border-color: orange;
  padding: 2em;
  background-color: #ffc880;
}

.divbox { /* for div.divbox, but lower priority */
  border-width: 3px;
  border-style: solid;
  margin: 0.5ex;
  padding: 0.5ex;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

blockquote {
  border-left: 3px blue solid;
  margin: 0 2.5em 2.5ex 0;
  padding-left: 2ex;
}
p + blockquote { margin-top: -1.5ex } /* Put blockquotes closer to preceding p */

div.footer { border-top: 2px grey solid; margin-top: 2em }
div.copyright   { color: grey }
div.copyright a { color: grey }

.lack-css3 { display: block }
.lack-css3:not(:target) { display: none }

.warning {
    border: thick orange solid;
    border-radius: 1em;
    padding: 1em;
}


ul.pages, ul.posts { padding: 0 }
ul.pages li:before { content: "» " }
ul.pages li, ul.posts li { list-style-type: none }

.post-tag, .page-tag {
    border: thin #888 solid;
    border-radius: 0.5ex;
    padding: 0 0.5ex;
    white-space: nowrap;
}
.post-tag { background: #ddd }
.page-tag { background: #fdd }

.match-target-show { display: none }
.match-target-show:target { display: block }
.match-target-show:target ~ .match-target-show-default { display: none }


.debug b {
    display: block;
    border: thick red solid;
    border-radius: 1em;
    border-bottom: none;
    padding: 1ex;
}
.debug {
    border: thin red solid;
    border-top: none;
    border-radius: 1em;
}
.debug pre {
    white-space: pre-wrap;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target,
a:target { outline: thick yellow solid }
