<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<title>{{ page.title }}</title>
<style type="text/css">
div.box-wip {
  border-color: orange;
  padding: 2em;
  background-color: #ffc880;
}

.divbox { /* for div.divbox, but lower priority */
  border-width: 3px;
  border-style: solid;
  margin: 0.5ex;
  padding: 0.5ex;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}
</style>
</head><body>
{{ content }}
</body></html>
